@font-face {
    font-family: "NotoSansHans-Regular";
    src: url("../font/NotoSansHans-Regular.otf");
    font-stretch:normal;
}
body{
    font-family: "NotoSansHans-Regular";
}
/* 立绘/背景/声明 */
.ste-size {
    width: 1215px;
    height: 684px;
}
.painting-box {
    background: -425px -298px;
    background-size: 1645px;
}
.statement  {
    color: rgba(0, 0, 0, 0.5);
    right: 0;bottom: 0;
}


/* 左侧布局 */
.left-info {
    font-weight:350;
    width:55%; height:100%;
    float:left;
}
.ship-nameandtype-box {
    line-height: 25px;
    width: 305px;
    height: 100px;
    margin-left: 42%;
    background: 
        no-repeat 
        url(../image/ship_info/title.png);
}
.ship-type {
    margin-top: -45px;
    margin-left: 13px;
}
.ship-name {
    display:inline-block;
    margin-top: 35px;
    padding-left: 50px; 
    font-size: 18px; 
    color: #fff
}
.ship-name-en {
    font-size: 15px;
    display:inline-block;
    padding-left: 30px; 
    color: rgba(255, 255, 255, 0.6);
}
.star{
    margin-top: 10px;
    margin-left: 200px;
}
.star img {
    margin-left: -15px;
}
.skins-box div{
    width: 374px;
    height: 40px;
    margin-top: 15px;
    background: 
    no-repeat 
    url(../image/ship_info/skininfo.png);
    background-size: 374px;
    text-indent : 95px;
    line-height: 35px;
    font-weight: 600;
    font-size: 20px; 
    color: rgba(255, 255, 255, 0.8);
}

/* 右侧背景 */
.right-info{
    float:left;
    color: #fff;
    padding-top: 10px;
    margin-top: 25px;
    width: 490px; height:92%;
    background: rgba(32, 32, 32, 0.35);
    background-image: 
        -webkit-linear-gradient(
            0deg, 
            rgba(255, 255, 255, 0.1) 
            10%, 
            rgba(0, 0, 0, 0) 
            10%
        ), 
        -webkit-linear-gradient(
            rgba(255, 255, 255, 0.1) 
            10%, 
            rgba(0, 0, 0, 0) 
            10%
        );
        background-size: 10px 10px;
}
.right-info::before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10px;
    height: 10px;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    content: "";
}
.right-info::after {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 10px;
    height: 10px;
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    content: "";
}
.right-info-footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
  }
.right-info-footer::before {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 10px;
    height: 10px;
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    content: "";
}
.right-info-footer::after {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 10px;
    height: 10px;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    content: "";
}



/* 属性 */
.right-info table.ship-info {
    margin-top: -4px;
    padding-left: 10px;
    border-collapse: collapse;
    border-spacing: 0 4px;
}
.info-icon {
    background-color:rgba(32, 32, 32, 0.8);
    margin-left: 25px;
}
.info-icon+td {
    background-color:rgba(32, 32, 32, 0.6);
    height: 20px;
    width: 115px;
}
.info-icon+td b {
    float: right;
    color: yellow;
}
.ship-info tr th.hr {
    border-top: 1px solid rgba(255, 255, 255, 0.8);
}

/* 技能 */
.ship-info+div {
    background-color:rgba(32, 32, 32, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}
.ship-kills{
    border-collapse: collapse;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.ship-kills tr {
    border-bottom: 1px solid rgb(150, 150, 150);
    overflow:hidden;
    display:inline-block;
}
.kill-icon+td{
    width: 5000px;
    height: 83px;
}
.kill-icon+td div{
    max-height: 85px;
    overflow:hidden;
    font-size: 15px;
}
.ship-kills tr:last-child {
    border-bottom: None;
}
.kill-icon div {
    height:64px; width:64px;
    background-size:64px; 
    background-image: url(../image/ship_info/mask_skill.png);
    -webkit-filter: brightness(150%);
    font-size:60px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 65px;
    text-align:center
}
.kill-icon div:after {
    content: "?";
}
.kill-icon+td b {
    color: yellow;
    margin-right: 5px ;
}


/* 科技点框线 */
.ship-technology th,.ship-technology td {
    border: 1px solid rgb(150, 150, 150);
}
.ship-technology tr th:first-child{
    border-left: None;
}
.ship-technology tr td:last-child{
    border-right: None;
}
.ship-technology tr:first-child th,
.ship-technology tr:first-child td,
.ship-technology tr:last-child th,
.ship-technology tr:last-child td{
    border: None;
}
.ship-technology tr td{
    border-left: 1px solid rgb(150, 150, 150) !important;
}
.ship-technology tr:last-child th{
    border-right: 1px solid rgb(150, 150, 150) !important;
}
.total {
    border-bottom: None !important;
}


/* 保留行 */
.right-info {
    position: relative;
}
.asd1 {
    position:absolute;left:5px;bottom:19px;
}
.asd2 {
    position:absolute;left:5px;bottom:0px;
}